@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  font-family: "Caveat", cursive;
}

div.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
}

div.config-selectors {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media print {
  div.config-selectors {
    display: none;
  }
}
div.config-selectors div.select-grouping {
  display: flex;
  flex-direction: column;
  width: 100%;
}
div.config-selectors div.select-grouping label {
  font-size: 32px;
}

div.print-buttons {
  height: 48px;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  letter-spacing: 1px;
}
div.print-buttons button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
  color: white;
  font-size: 24px;
  font-family: "Caveat", cursive;
}
div.print-buttons button:hover {
  cursor: pointer;
  background-color: black;
}
div.print-buttons a {
  width: 100%;
  height: 100%;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 24px;
}
div.print-buttons a:hover {
  background-color: rgb(237, 237, 237);
}
@media print {
  div.print-buttons {
    display: none;
  }
}

div.calendar {
  margin-top: 16px;
  padding: 16px;
  border: 2px solid black;
  border-radius: 10px;
}
div.calendar div.headers {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: ". title date";
  height: 56px;
  align-items: baseline;
  padding-top: 16px;
}
div.calendar div.headers p {
  line-height: 1;
  display: flex;
}
div.calendar div.headers p.calendar-title {
  grid-area: title;
  font-size: 36px;
  justify-content: center;
}
div.calendar div.headers p.calendar-month-year {
  grid-area: date;
  font-size: 24px;
  justify-content: flex-end;
}
div.calendar div.calendar-days {
  margin-top: 16px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
div.calendar div.calendar-days::before {
  content: "";
  background-image: url("./hornets.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.06;
}
div.calendar div.calendar-days p.day-header {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 5px 50px 5px 50px;
}
div.calendar div.calendar-days div.calendar-day {
  border: 2px solid black;
  border-radius: 10px;
  height: 124px;
  position: relative;
  padding: 2px;
  display: flex;
}
div.calendar div.calendar-days div.calendar-day p.day-number {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: black;
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
div.calendar div.calendar-days div.calendar-day div.day-content {
  border: none;
  border-radius: inherit;
  width: 100%;
  word-break: break-all;
  text-align: center;
}
div.calendar div.calendar-days div.calendar-day div.day-content p {
  height: 100%;
  font-size: 16px;
  line-height: 1;
  overflow: auto;
}

div.blurb {
  margin: 16px 0 32px;
  width: 100%;
  height: 76px;
  border: 2px solid black;
  border-radius: 10px;
}
div.blurb p {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 4px;
  font-size: 16px;
}

/*# sourceMappingURL=main.css.map */
