* {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}

div.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  padding-top: 10px;
}

div.config-selectors {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;

  @media print {
    display: none;
  }

  div.select-grouping {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-size: 32px;
    }

    select,
    input {
      font-size: 24px;
    }
  }
}

div.calendar {
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;

  div.headers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". title date";
    height: 56px;
    align-items: baseline;
    padding-top: 16px;

    p {
      line-height: 1;
      display: flex;
    }

    p.calendar-title {
      grid-area: title;
      font-size: 36px;
      justify-content: center;
    }

    p.calendar-month-year {
      grid-area: date;
      font-size: 18px;
      justify-content: flex-end;
    }
  }

  div.calendar-days {
    margin-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    &::before {
      content: "";
      background-image: url("./hornets.jpg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.06;
    }

    p.day-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      background-color: black;
      color: white;
      border-radius: 5px 50px 5px 50px;
    }

    div.calendar-day {
      border: 2px solid black;
      border-radius: 10px;
      height: 100px;
      position: relative;
      padding: 2px;
      display: flex;

      p.day-number {
        position: absolute;
        top: -1rem;
        right: -1rem;
        background-color: black;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
      }

      div.day-content {
        border: none;
        border-radius: inherit;
        width: 100%;
        word-break: break-all;
        text-align: center;

        p {
          height: 100%;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
}

div.instructions {
  @media print {
    display: none;
  }

  margin-top: 32px;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;

  p {
    max-width: 600px;
  }
}
